<!DOCTYPE html>
<html>
  <head>
    <title>MyBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="<%= posts_path %>">Статті</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"> </a>
            </li>
          </ul>


          <ul class="navbar-nav pul-xs-right">
            <%if user_signed_in?%>
              <li class="nav-item">
                <%= link_to "User", edit_user_registration_path, class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Вийти", destroy_user_session_path, method: :delete, class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Нова стаття", new_post_path, class: "btn btn-outline-primary pull-xs-right" %>
              </li>
            <%else%>
              <li class="nav-item">
                <%= link_to "Увійти", new_user_session_path, class: "nav-link"  %>
              </li>
              <li class="nav-item">
                <%= link_to "Реєстрація", new_user_registration_path, class: "nav-link"  %>
              </li>
              <%end%>
          </ul>
      </nav>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message|%>
            <div class="alert <%=bootstrap_class_for(name)%>">
              <!-- <button class="close" data-dismiss="alert">&times;</button> -->
              <a href="#" class="close">&times;</a>
              <%=message%>
            </div>
          <%end%>
        </div>
      </div>

        <div class="row">
          <div class="col-md-9">
              <%= yield %>
          </div>
          <div class="col-md-3">
            <% tag_cloud(Tag.counts, %w{tag1 tag2 tag3 tag4 tag5}) do |tag, css_class|%>
                <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                <%end%>
          </div>
        </div>

    </div>
  </body>
</html>
